@charset "utf-8";
.m-box{
	width: 8rem;
	margin: 0 auto;
	height: 100vh;
	background-color: #f9c;
	&-sidebar{
		float: left;
		width: 2rem;
		height: 3rem;
		/*padding: .1rem;*/
		/*@include box-sizing(border-box);*/
		background-color: #fcc;
	}
	&-main{
		float: right;
		width: 6rem;
		height: 3rem;
		/*@include box-sizing(border-box);*/
		background-color: #9c6;
	}
}